<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-light navbar-expand-md bg-dark">
    <div class="container-fluid">
        <span class="text-light"><strong id="nameTitle"></strong></span>
        <span class="text-light"> with roles: </span>
        <span class="text-light" id="roleTitle"></span>
        <ul class="nav navbar-nav flex-nowrap ml-auto">
            <li class="nav-item" role="presentation"><a class="nav-link text-muted" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid table-active vh-100">
    <div class="row vh-100">
        <div class="col-md-2 vh-100 table-light pl-0 pr-0 pt-3">

            <ul class="nav nav-pills flex-column" aria-orientation="vertical">
                <li class="nav-item">
                <li class="nav-item"><a class="nav-link active" href="/admin">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="/user">User</a></li>
                </li>
            </ul>

        </div>
        <div class="col-md-10 vh-100 d-flex" style="background-color: #f5f5f5;padding-left: 15px; padding-right: 15px">

            <div class="container-fluid vh-100">
                <h2 style="margin: 10px;padding: 14px;height: 50px;line-height: 25px;">Admin panel</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" id="tab1" role="tab" data-toggle="tab"
                                            href="#tab-1">Users
                        table</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" id="tab2" data-toggle="tab" href="#tab-2">New
                        User</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="border rounded" style="background-color: #ffffff;padding: 0px;">
                            <h1 style="font-size: 25px;background-color: #f2f2f2;height: 55px;margin: 0px;padding: 15px;line-height: 17px;">
                                All users</h1>
                            <div style="background-color: #ffffff;padding: 30px">
                                <table class="table table-striped">
                                    <thead>
                                    <tr style="width: 50px;">
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Age</th>
                                        <th>Login</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table_data" style="height: 100px;">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="border rounded" style="background-color: #ffffff;padding: 0px;">
                            <h1 style="font-size: 25px;background-color: #f2f2f2;height: 55px;margin: 0px;padding: 15px;line-height: 17px;">
                                Add new user</h1>
                            <div class="container text-center" style="width: 350px">
                                <form class="m-3" role="form" method="post">
                                    <div class="form-group">
                                        <label for="firstName_input">First name</label>
                                        <input id="firstName_input" class="form-control" type="text"
                                               placeholder="Введите имя">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName_input">Last name</label>
                                        <input id="lastName_input" class="form-control" type="text"
                                               placeholder="Введите фамилию">
                                    </div>
                                    <div class="form-group">
                                        <label for="age_input">Age</label>
                                        <input id="age_input" class="form-control" type="text"
                                               placeholder="Введите возраст">
                                    </div>
                                    <div class="form-group">
                                        <label for="login_input">Email</label>
                                        <input id="login_input" class="form-control" type="email"
                                               placeholder="Введите email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password_input">Password</label>
                                        <input id="password_input" class="form-control" type="password"
                                               placeholder="Введите пароль">
                                    </div>
                                    <div class="form-group">
                                        <label for="roles_input">Role</label>
                                        <select id="roles_input" class="custom-select" style="height: 65px"
                                                multiple>
                                            <option name="ADMIN">ADMIN</option>
                                            <option name="USER">USER</option>
                                        </select>
                                    </div>
                                    <div>
                                        <button id="add_user" class="btn btn-success form-group">
                                            Add new user
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="editModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit user</h4>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body" style="padding-right: 50px; padding-left: 50px">
                    <form id="editUser" class="m-3" role="form" method="post">
                        <div class="form-group">
                            <label for="id_edit">ID</label>
                            <input id="id_edit" class="form-control" type="text" value=""
                                   placeholder="Введите ID" readonly>
                        </div>
                        <div class="form-group">
                            <label for="firstName_edit">First name</label>
                            <input id="firstName_edit" class="form-control" type="text"
                                   placeholder="Введите имя">
                        </div>
                        <div class="form-group">
                            <label for="lastName_edit">Last name</label>
                            <input id="lastName_edit" class="form-control" type="text"
                                   placeholder="Введите фамилию">
                        </div>
                        <div class="form-group">
                            <label for="age_edit">Age</label>
                            <input id="age_edit" class="form-control" type="text"
                                   placeholder="Введите возраст">
                        </div>
                        <div class="form-group">
                            <label for="login_edit">Email</label>
                            <input id="login_edit" class="form-control" type="email"
                                   placeholder="Введите email">
                        </div>
                        <div class="form-group">
                            <label for="password_edit">Password</label>
                            <input id="password_edit" class="form-control" type="password"
                                   placeholder="Введите пароль">
                        </div>
                        <div class="form-group">
                            <label for="roles_edit">Role</label>
                            <select id="roles_edit" class="custom-select" style="height: 65px" multiple>
                                <option name="ADMIN">ADMIN</option>
                                <option name="USER">USER</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" data-dismiss="modal" form="editUser">Close</button>
                    <button id="editButton" class="btn btn-primary text-light" type="button" data-dismiss="modal">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete user</h4>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body" style="padding-right: 50px; padding-left: 50px">
                    <form id="data" class="m-3" role="form" method="post">
                        <div class="form-group">
                            <label for="id_delete">ID</label>
                            <input id="id_delete" class="form-control" type="text"
                                   placeholder="Введите ID" readonly>
                        </div>
                        <div class="form-group">
                            <label for="firstName_delete">First name</label>
                            <input id="firstName_delete" class="form-control" type="text"
                                   placeholder="Введите имя" readonly>
                        </div>
                        <div class="form-group">
                            <label for="lastName_delete">Last name</label>
                            <input id="lastName_delete" class="form-control" type="text"
                                   placeholder="Введите фамилию" readonly>
                        </div>
                        <div class="form-group">
                            <label for="age_delete">Age</label>
                            <input id="age_delete" class="form-control" type="text"
                                   placeholder="Введите возраст" readonly>
                        </div>
                        <div class="form-group">
                            <label for="login_delete">Email</label>
                            <input id="login_delete" class="form-control" type="email"
                                   placeholder="Введите email" readonly>
                        </div>

                        <div class="form-group">
                            <label for="roles_delete">Role</label>
                            <select id="roles_delete" class="custom-select" style="height: 40px" multiple
                                    readonly>
                                <option name="roles"></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" data-dismiss="modal" form="data">Close</button>
                    <button id="deleteButton" class="btn btn-danger text-light" type="button" data-dismiss="modal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/admin.js"></script>

</body>

</html>